<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}[EasyLinks邀请]{% endblock %}</title>
        <style>
            .line {
                margin-top: 30px;
            }
        </style>
    </head>
    <body>
        <!--begin email content -->
        <div>
            <p>{{ invitedBy }}邀请您加入{{ companyName }}。</p>
            <p>如您尚未注册账号，请点击以下链接进行注册: </p>
            <a href='{{ web_client_protocol }}{{ web_client_domain }}{{ web_client_register_invite_base_uri }}{{ token }}'>
                {{ web_client_protocol }}{{ web_client_domain }}{{ web_client_register_invite_base_uri }}{{ token }}
            </a>
            <p class="line">
                您也可以使用此邮箱地址在
                <a href='{{ web_client_protocol }}{{ web_client_domain }}'>{{ web_client_protocol }}{{ web_client_domain }}</a>
                或APP上进行注册，注册后接受邀请即可使用EasyLinks。
            </p>
        </div>
        <!--end email content -->
    </body>
</html>
