{% extends 'base.html.twig' %}
    {% block title %}Sandbox Leases{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ absolute_url(asset('css/leases_print.css')) }}">
    {% endblock %}
{% block body %}
    <div class="contract-b-con">
        <div class="long-wrapper">
            <div class="contract-tit">
                <span>长租合同内容</span>
            </div>
            <div class="contract-block">
                <div class="block-top">
                    <div class="f-left top-left">
                        出租方信息
                    </div>
                </div>
                <div class="block-bot">
                    <div class="block-line">
                        <div class="f-left line-left">出租方名称 :</div>
                        <div class="f-left line-right">{{ lease.lessorName }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">出租方地址 :</div>
                        <div class="f-left line-right">{{ lease.lessorAddress }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">出租方联系人 :</div>
                        <div class="f-left line-right">{{ lease.lessorContact }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">出租方电话 :</div>
                        <div class="f-left line-right">{{ lease.lessorPhone }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">出租方邮箱 :</div>
                        <div class="f-left line-right">{{ lease.lessorEmail }}</div>
                    </div>
                </div>
            </div>
            <div class="contract-block">
                <div class="block-top">
                    <div class="f-left top-left">
                        承租方信息
                    </div>
                </div>
                <div class="block-bot">
                    <div class="block-line">
                        <div class="f-left line-left">承租方名称 :</div>
                        <div class="f-left line-right">{{ lease.lesseeName }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">承租方地址 :</div>
                        <div class="f-left line-right">{{ lease.lesseeAddress }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">承租方联系人 :</div>
                        <div class="f-left line-right">{{ lease.lesseeContact }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">承租方电话 :</div>
                        <div class="f-left line-right">{{ lease.lesseePhone }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">承租方邮箱 :</div>
                        <div class="f-left line-right">{{ lease.lesseeEmail }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">合同负责人:</div>
                        <div class="f-left line-right">
                            <div class="u-box">
                                <img src="{{ supervisorAvatarUrl }}" class="u-ava">
                                <div class="u-nick">{{ supervisor.name }}</div>
                                <div class="u-info">
                                    <span>{{ supervisor.email }}</span>
                                    <span>{{ supervisor.phone }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">付款人 :</div>
                        <div class="f-left line-right">
                            <div class="u-box">
                                <img src="{{ draweeAvatarUrl }}" class="u-ava">
                                <div class="u-nick">{{ drawee.name }}</div>
                                <div class="u-info">
                                    <span>{{ drawee.email }}</span>
                                    <span>{{ drawee.phone }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contract-block">
                <div class="block-top">
                    <div class="f-left top-left">
                        租赁标地
                    </div>
                </div>
                <div class="block-bot">
                    <div class="block-line">
                        <div class="f-left line-left">项目名称 :</div>
                        <div class="f-left line-right">{{ lease.product.room.building.name }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">项目地址 :</div>
                        <div class="f-left line-right">{{ lease.product.room.building.address }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">房屋名称 :</div>
                        <div class="f-left line-right">{{ lease.product.room.name }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">房屋面积 :</div>
                        <div class="f-left line-right">{{ lease.product.room.area }} m²</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">房屋最大容纳人数 :</div>
                        <div class="f-left line-right">{{ lease.product.room.allowedPeople }} 人</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contract-b-con mt200">
        <div class="long-wrapper nobt">
            <div class="contract-block">
                <div class="block-top">
                    <div class="f-left top-left">
                        商务条款
                    </div>
                </div>
                <div class="block-bot">
                    <div class="block-line">
                        <div class="f-left line-left">租赁起始日期 :</div>
                        <div class="f-left line-right">{{ lease.startDate|date('Y-m-d') }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">租赁结束日期 :</div>
                        <div class="f-left line-right">{{ lease.endDate|date('Y-m-d') }}</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">月租金 :</div>
                        <div class="f-left line-right">{{ lease.monthlyRent|number_format(2, '.', ',') }} 元</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">合同总租金 :</div>
                        <div class="f-left line-right">{{ lease.totalRent|number_format(2, '.', ',') }} 元</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">租赁押金 :</div>
                        <div class="f-left line-right">{{ lease.deposit|number_format(2, '.', ',') }} 元</div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">租金包含 :</div>
                        <div class="f-left line-right">
                            {% for t in lease.leaseRentTypes %}
                                {{ t.name }};
                            {% endfor %}
                        </div>
                    </div>
                    <div class="block-line">
                        <div class="f-left line-left">租金不包含 :</div>
                        <div class="f-left line-right">
                            {% for et in excludeTypes %}
                                {{ et.name }};
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="contract-block">
                <div class="block-top">
                    <div class="f-left top-left">
                        房屋使用用途
                    </div>
                    <div class="f-left line-right">
                        {{ lease.purpose }}
                    </div>
                </div>
            </div>
            <div class="contract-block">
                <div class="block-top">
                    <div class="f-left top-left">
                        其他费用说明
                    </div>
                    <div class="f-left line-right">
                        {{ lease.otherExpenses }}
                    </div>
                </div>
            </div>
            <div class="contract-block">
                <div class="block-top">
                    <div class="f-left top-left">
                        补充条款
                    </div>
                    <div class="f-left line-right">
                        {{ lease.supplementaryTerms }}
                    </div>
                </div>
            </div>
            <div class="contract-block">
                <div class="block-top">
                    <div class="f-left top-left">
                        合同账单
                    </div>
                </div>
                <div class="bill-list">
                    <div class="bill-line title">
                        <div class="bill-item per22">账单名称</div>
                        <div class="bill-item per12">账单起始日</div>
                        <div class="bill-item per12">账单结束日</div>
                        <div class="bill-item per12">租金</div>
                        <div class="bill-item per33">账单描述</div>
                    </div>
                    {% for b in bills %}
                    <div class="bill-line">
                        <div class="bill-item per22">
                            <span>{{ b.name }}</span>
                        </div>
                        <div class="bill-item per12">{{ b.startDate|date('Y-m-d') }}</div>
                        <div class="bill-item per12">{{ b.endDate|date('Y-m-d') }}</div>
                        <div class="bill-item per12">{{ b.amount }} 元</div>
                        <div class="bill-item per33">{{ b.description }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}